$light-blue: hsla(196, 50%, 60%, 1);
$sea-green: hsla(159, 51%, 55%, 1);
$purple: hsla(247, 46%, 61%, 1);
$raspberry-pink: hsla(334, 46%, 61%, 1);
$burnt-orange: hsla(14, 69%, 67%, 1);
$country-yellow: hsla(41, 69%, 67%, 1);

$frosted-steel: hsla(240, 1%, 84%, 1);
$slate-grey: hsla(240, 2%, 65%, 1);




$axis-text: $slate-grey;

$pie-slice-0: $sea-green;
$pie-slice-1: $burnt-orange;
$pie-slice-2: $purple;
$pie-slice-3: $country-yellow;
$pie-slice-4: $raspberry-pink;